# Logi
logs
*.log
npm-debug.log*

# Katalogi z zależnościami
node_modules/

# Katalogi środowiskowe IDE / edytory
.vscode/
.idea/
*.swp
*.swo

# Katalogi zbudowanych plików
/dist
/build
/out

Functions/
dist/
node_modules/
.firebase/
databaseScript.js
# Pliki środowiskowe
#.env
#.env.local
#.env.development.local
#.env.test.local
#.env.production.local

# Pliki konfiguracyjne zabezpieczeń
#*.pem
#*.key

# Katalogi cache
.cache/
.tmp/

# Inne pliki i katalogi
.DS_Store
Thumbs.db
